$xiketic: rgba(20, 22, 37, 1);
$cultured: rgba(248, 248, 251, 1);
$lightCoral: rgba(255, 151, 151, 1);
$redSalsa: rgba(236, 87, 87, 1);
$richBlack: rgba(12, 14, 22, 1);
$glaucous: rgba(126, 136, 195, 1);
$coolGrey: rgba(136, 142, 176, 1);
$lavenderWeb: rgba(223, 227, 250, 1);
$spaceCadetLight: rgba(37, 41, 69, 1);
$spaceCadetDark: rgba(30, 33, 57, 1);
$mediumPurple: rgba(146, 119, 255, 1);
$mediumSlateBlue: rgba(124, 93, 250, 1);
